.schedule-container {
  display: flex;

  .sc-left {
    padding-right: 30px;

    .left-title {
      display: flex;
      gap: 4px;
      align-items: center;
      margin: 10px 5px;
      font-size: 16px;
      font-weight: 600;

      .icon {
        font-size: 20px;
        display: grid;
        transform: scale(1.3);
        place-items: center;
      }

      p {
        margin: 0;
      }
    }

    .left-content {
      .schedule {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .schedule-btn {
          border: none;
          outline: none;
          background: #fff04b;
          margin-top: 5px;
          margin-bottom: 5px;
          padding: 10px 15px;
          font-weight: bolder;
          min-width: 24%;
          border: 1px solid transparent;
          &:hover {
            background-color: rgb(148, 7, 148);
            color: white;
          }
        }
      }
    }
  }

  .sc-right {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .schedule-title {
      text-transform: uppercase;
      font-size: 14px;
      color: #666;
      font-weight: bold;
      margin-top: 8px;
    }

    .address {
      padding-bottom: 10px;
      border-bottom: 1px solid #cecece;
      h4,
      p {
        font-size: 13px;
        margin: 0;
      }

      h4 {
        font-weight: 700;
      }
    }

    .session {
      display: flex;
      gap: 5px;
      align-items: center;
      margin-top: 8px;

      h3 {
        margin: 0;
      }
    }

    .price-detail {
      display: flex;
      align-items: center;
      gap: 10px;

      .price-detail-left {
        flex: 1;

        h4 {
          font-size: 14px;
        }

        p {
          font-size: 12px;
        }
      }
    }
  }
}
