.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  background-color: #64b9e5;

  p {
    font-weight: 600;
    color: white;
    margin: auto;

    a {
      text-decoration: none;
      margin-left: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
